@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import "../breakpoint/breakpoint.scss";

$primary-font: "Lato", sans-serif;
$primary-color: #a3a3a3;
$primary-color1: #e7e7e7;
$primary-color2: #aaaaaa;
$primary-color3: #757575;
