@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;0,800;1,200&family=Yantramanav:wght@100;300;400;500;700&display=swap");

$primary-font: 'Yantramanav', sans-serif;
$primary-color: #a3a3a3;
$primary-color1: #e7e7e7;
$primary-color2: #aaaaaa;
$primary-color3: #757575;