@import "../styles/variables.scss";

.container {
  background: url(../images/bck2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 80rem;
  .container-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;

    h2 {
      font-family: $primary-font;
      color: aliceblue;
      text-transform: capitalize;
      font-size: 25px;
      width: fit-content;
      height: fit-content;
      font-weight: 400;
      cursor: pointer;
      @include media("<510px") {
        font-size: 20px;
      }
    }
    .search-container {
      .search-details {
        width: 400px;
        @include media("<510px") {
          width: 300px;
        }
        @include media("<415px") {
          width: 18rem;
        }
      }
    }
  }
}

.container::-webkit-scrollbar-button {
  display: none;
}

@keyframes backgroundEffect {
  0% {
    background: url(../images/rain.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  20% {
    background: url(../images/rain.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  40% {
    background: url(../images/bck4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  60% {
    background: url(../images/bck4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  80% {
    background: url(../images/bck5.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  100% {
    background: url(../images/clouds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
