@import "../styles/variables.scss";

.header {
  height: 80rem;
  animation: backgroundChange infinite linear 10s;
  .text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    font-family: $primary-font;
    color: $primary-color1;
    font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;
    text-align: center;
    padding-top: 90px;
  }

  @include media("<990px") {
    .text {
      font-size: 40px;
      font-weight: 700;
    }
  }

  @include media("<785px") {
    .text {
      font-size: 40px;
      font-weight: 700;
      width: 500px;
    }
  }

  @include media("<= 515px") {
    .text {
      font-size: 40px;
      font-weight: 700;
      width: 25rem;
    }
  }

  @include media("<= 410px") {
    .text {
      font-size: 25px;
      font-weight: 600;
      width: 20rem;
      padding-top: 120px;
    }
  }

  .search-icon {
    position: absolute;
    padding: 20px 0;
    margin: 50px auto;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 500px;

    @include media("<= 515px") {
      width: 400px;
    }

    @include media("<= 410px") {
      width: 350px;
    }

    @include media("< 410px") {
      width: 350px;
    }
  }
}

@keyframes backgroundChange {
  0% {
    background: url(../images/sunbeach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  20% {
    background: url(../images/sunbeach.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  40% {
    background: url(../images/clouds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  60% {
    background: url(../images/clouds.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  80% {
    background: url(../images/rain.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  100% {
    background: url(../images/rain.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
